rules_version = '2';

service cloud.firestore {

  function isAdmin() {
    return request.auth != null && request.auth.uid == "ZylNBEwdTaR8DDebEyH0hdBGH2b2";
  }

  match /projects/{projectId} {
    allow read: if true;
    allow create, update, delete: if isAdmin();
  }
  match /courses/{courseId} {
    allow read: if true;
    allow create, update, delete: if isAdmin();
  }

  match /audit_logs/{logId} {
      allow read, create: if isAdmin();
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
}
